cbuild*
version.inc
.vscode/
.vs/
.idea/
CMakeSettings.json
**/CMakeFiles
**/Makefile
**/CMakeCache.txt
bin/
compile_commands.json
lib/
nbproject/
mbuild
build
out/
Folder.DotSettings.user
tags
topio-*.tar.gz
*/.DS_Store
macos/XTOPCHAIN.build
macos/src
src/xtopcom/xvledger/test/xvledger-test.xcodeproj
macos

src/xtopcom/xevm_engine_rs/target
**/Cargo.lock
pkg/
xevm_b
go.mod
go.sum
cover.out
.github/
tests/
db_*/
log/
ut_report/
*.log