xcomponent_administration
cbuild*
version.inc
.vscode/
.vs/
CMakeSettings.json
**/CMakeFiles
**/Makefile
**/CMakeCache.txt
bin/
compile_commands.json
lib/
nbproject/
mbuild
out/
src/xtopcom/xdepends/libs
topio-0.0.0.0-debug.tar.gz
topio-0.0.0.0-release.tar.gz
build
Folder.DotSettings.user
tags
topiolib/cbuild
topiolib/cbuild_release
topiolib/src
topio-*.tar.gz

topiolib.tar.gz
topiolib/build.sh
topiolib/build_options.sh
topiolib/cmake/
topiolib/pack.sh
topiolib/tlib/Linux/*.a
topiolib/tlib/Linux/debug/*.a
topiolib/tlib/Linux/release/*.a
*/.DS_Store
xtopchain
macos/XTOPCHAIN.build
macos/src
src/xtopcom/xvledger/test/xvledger-test.xcodeproj
macos
