[submodule "src/xtopcom/xbase"]
	path = src/xtopcom/xbase
	url = git@github.com:telosprotocol/xbase.git
[submodule "src/xtopcom/xdepends/googletest"]
	path = src/xtopcom/xdepends/googletest
	url = git@github.com:google/googletest.git
[submodule "src/xtopcom/xdepends/xquic"]
	path = src/xtopcom/xdepends/xquic
	url = git@github.com:alibaba/xquic.git
[submodule "src/xtopcom/xdepends/boringssl"]
	path = src/xtopcom/xdepends/boringssl
	url = git@github.com:google/boringssl.git
[submodule "src/xtopcom/xdepends/libevent"]
	path = src/xtopcom/xdepends/libevent
	url = git@github.com:libevent/libevent.git
[submodule "src/xtopcom/xdepends/GSL"]
	path = src/xtopcom/xdepends/GSL
	url = git@github.com:telosprotocol/GSL.git
[submodule "src/xtopcom/xdepends/jemalloc"]
	path = src/xtopcom/xdepends/jemalloc
	url = git@github.com:jemalloc/jemalloc.git
[submodule "src/xtopcom/xdepends/gperftools"]
	path = src/xtopcom/xdepends/gperftools
	url = git@github.com:gperftools/gperftools.git
[submodule "src/xtopcom/xdepends/rocksdb"]
	path = src/xtopcom/xdepends/rocksdb
	url = git@github.com:facebook/rocksdb.git
[submodule "src/xtopcom/xdepends/jsoncpp"]
	path = src/xtopcom/xdepends/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "src/xtopcom/xdepends/grpc"]
	path = src/xtopcom/xdepends/grpc
	url = git@github.com:grpc/grpc.git
[submodule "src/xtopcom/xdepends/cryptopp-cmake"]
	path = src/xtopcom/xdepends/cryptopp-cmake
	url = git@github.com:abdes/cryptopp-cmake.git
[submodule "src/xtopcom/xdepends/cryptopp"]
	path = src/xtopcom/xdepends/cryptopp
	url = git@github.com:weidai11/cryptopp.git
[submodule "src/xtopcom/xdepends/msgpack-c"]
	path = src/xtopcom/xdepends/msgpack-c
	url = git@github.com:msgpack/msgpack-c.git
[submodule "src/xtopcom/xdepends/secp256k1"]
	path = src/xtopcom/xdepends/secp256k1
	url = git@github.com:bitcoin-core/secp256k1.git
[submodule "src/xtopcom/xdepends/trezor/trezor-crypto"]
	path = src/xtopcom/xdepends/trezor/trezor-crypto
	url = git@github.com:trezor/trezor-crypto.git
[submodule "src/xtopcom/xdepends/protobuf"]
	path = src/xtopcom/xdepends/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "src/xtopcom/xdepends/ethash"]
	path = src/xtopcom/xdepends/ethash
	url = git@github.com:chfast/ethash.git
[submodule "src/xtopcom/xdepends/json"]
	path = src/xtopcom/xdepends/json
	url = git@github.com:nlohmann/json.git
[submodule "src/xtopcom/xdepends/lz4"]
	path = src/xtopcom/xdepends/lz4
	url = git@github.com:lz4/lz4.git
[submodule "src/xtopcom/xdepends/fifo_map"]
	path = src/xtopcom/xdepends/fifo_map
	url = git@github.com:nlohmann/fifo_map.git
[submodule "src/xtopcom/xdepends/crossguid"]
	path = src/xtopcom/xdepends/crossguid
	url = git@github.com:graeme-hill/crossguid.git
