[submodule "src/xtopcom/xbase"]
	path = src/xtopcom/xbase
	url = git@github.com:telosprotocol/xbase.git
[submodule "src/xtopcom/xdepends/googletest"]
	path = src/xtopcom/xdepends/googletest
	url = git@github.com:google/googletest.git
[submodule "src/xtopcom/xdepends/xquic"]
	path = src/xtopcom/xdepends/xquic
	url = git@github.com:alibaba/xquic.git
[submodule "src/xtopcom/xdepends/boringssl"]
	path = src/xtopcom/xdepends/boringssl
	url = git@github.com:google/boringssl.git
[submodule "src/xtopcom/xdepends/libevent"]
	path = src/xtopcom/xdepends/libevent
	url = git@github.com:libevent/libevent.git
[submodule "src/xtopcom/xdepends/GSL"]
	path = src/xtopcom/xdepends/GSL
	url = git@github.com:telosprotocol/GSL.git
